{% extends "base.html" %}
{% block title %} Admin Dashboard{% endblock %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #4A90E2; box-shadow: 0 4px 6px rgba(0,0,0,0.1);">
  <div class="container-fluid">
        <div class="d-flex align-items-center">
            <button class="btn btn-light rounded-circle d-flex align-items-center justify-content-center me-2" 
        onclick="history.back()" style="width: 40px; height: 40px;">
  <i class="bi bi-arrow-left"></i>
</button>
            <a class="navbar-brand fw-bold" href="/manager/dashboard">Dashboard</a>
        </div>
    <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
      <ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link text-danger fw-bold" href="/auth/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="dashboard-header">
    <h2>My Tasks</h2>
</div>

<table class="styled-table">
    <thead>
        <tr>
            <th>S. No.</th>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Created By</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for t in tasks %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ t.title }}</td>
            <td>{{ t.description }}</td>
            <td>{{ t.status }}</td>
            <td>{{ t.created_by_name }} </td>
            <td>
                <a href="/manager/tasks/{{ t.uuid }}" class="btn btn-edit">View</a>
                <button class="btn btn-delete" onclick="deleteTask('{{ current_user.id }}', '{{ t.uuid }}')"> Delete </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
        async function deleteTask(managerId, taskId) {
    if (!confirm("Are you sure you want to delete this task?")) return;

    const res = await fetch(`/manager/${managerId}/tasks/${taskId}`, {
        method: "DELETE",
        headers: { "Content-Type": "application/json" }
    });

    if (res.ok) {
        // Refresh the page or remove the row dynamically
        location.reload();
    } else {
        const data = await res.json();
        alert("Error: " + data.detail);
    }
}
</script>
{% endblock %}